#  Jupyter Lab Exercise

## Introduction
This notebook is created as part of exercise activity of Jupyter notebook introduction. In this notebook , various activities will be covered which are related to jupyter notebook.

### List of data science languages 

* Java 
* Julia 
* JavaScript
* Python
* R
* Scala

### List of data science libraries
* Matplotlib
* Numpy
* Pandas
* PyTorch
* Seaborn
* Scikit-learn
* SciPy
* TensorFlow

### List of Data Science tools 
|Sr No|Tool Name|
|---|---| 
|1|Julyter Notebook|
|2|Tableu|
|3|Apache Spark|
|4|Excel|
|5|SQL|
|6|MongoDB|
|7|Julia|
|8|Keras|
|9|Matlab|
|10|Python|
|11|SAS|
|12|R|

## Arithmetic expressions 
Arithmetic Expressions are used to perform mathematical operations like addition, substraction, Multiplication, division etc. 

### Addition
a = 5+10


### Substraction 
b = 10-5


### Multiplication
c= 10*5


### division 
d= 50/5

In [4]:
#Code cell for multiply and add numbers in same expression 

a = ((5*2)+7)
print(a)

17

In [10]:
#Code cell for convert minutes to hours 

#Function to convert minutes to hours 

def minutes_to_hours(minutes):
    hours = minutes/60
    return hours 

hr = minutes_to_hours(200)
print("Hours : ", hr)

Hours :  3.3333333333333335

### list of objectives of data science
* Collecting data.
* Processing data.
* Exploring and visualizing data.
* Analyzing (data) and/or applying machine learning (to data)
* Deciding (or planning) based on acquired insight.

### Author
* Deepak Baravkar